
.adminBtn {
    position: fixed;
    width: 3.5rem;
    height: 3.5rem;
    bottom: 20px;
    right: 2%;
    margin-right: 0;
    padding-right: 0;
    z-index: 9999;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    transition: ease-in-out 0.3s;
    border: none;
  }

  .adminBtn:hover{
    transform: scale(1.1);
  }
  .iconAdmin{
    font-size: 2rem;
    color: #E0AFA0;
  }