
.adminBtn {
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    bottom: 20px;
    right: 2%;
    z-index: 9999;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #347A2E;
    background-color: #298F21;
    transition: ease-in-out 0.3s;
  }

  .adminBtn:hover{
    transform: scale(1.1);
  }
  .iconAdmin{
    font-size: 2.5rem;
    color: #151540;
  }