.text-cards-head {

   background-color:  #F4F3EE;
   height: 200px;
   width:100%;
}

.text-cards-head h1 {

    text-align: center;
    padding-top: 100px;
    color:  3A3A45;
    font-size: 3.5rem;
    font-family: URW Chancery L, cursive;
    text-shadow: 2px 2px 4px rgba(85, 85, 145, 0.5);
   
}

.reveal {

    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
 }

 .reveal.active {

    transform: translateY(0px);
    opacity: 2;

 } 

 @media (max-width: 768px) { 
 
   .text-cards-head h1 {

      font-size: 2.5rem;

   }
    
   }
 