.card-with-transition {
    transition: all 0.3s ease-in-out;

  }
  
  .card-with-transition:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  }
  
  .card {
    transition: box-shadow 0.4s ease-in-out; /* Add a transition for smooth effect */
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Add a shadow on hover */
  }