.card-with-transition {
    transition: all 0.3s ease-in-out;

  }
  .card-with-transition:hover {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(31, 18, 18, 0.3);

  }
  
  .card {
    transition: box-shadow 0.5s ease-in-out; /* Add a transition or smooth effect */
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgb(3, 2, 2); /* Add a shadow on hover */
  }

  /* STYLE FOR REVEAL  */
  
  .reveal {

     position: relative;
     transform: translateY(150px);
     opacity: 0;
     transition: all 1s ease;
  }

  .reveal.active {

     transform: translateY(0px);
     opacity: 2;

  } 
  .card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .card-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  .card-body{
    box-shadow: 2px 2px 5px #b6b8b1;
  }

  @media (max-width: 768px) { 


    .main-text-box {

     text-align: center;
     padding-right: 100px;

    }
   
    .row-cols-1 {
      flex-direction: column;
     
      }
  
    .row-cols-1 .col {
      width: 350px;
      margin: auto; 
      
    }
  
    .card {
      max-width: 100%;
      margin-top:20px;
    }


  
  }

   