.marquee {
    background-color: #151540;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px -5px 10px rgba(0, 0, 0, 0.5);
    height: 70px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  
  .marquee__text {
    color:#F7F5D2;
    text-transform: uppercase;
    margin-top: 25px;
    display: inline-block;
    padding-right: 20px;
    animation: marquee 40s linear infinite;
    text-shadow: 1px 1px 1px #F5FD93;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }