.job-post-heading {

    width: 100%;
    height: 100px;
    color: #F7F5D2;
    background-color:  #3A3A45 ;
    text-align: center;
    font-size: 4rem;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}


.job-post-heading:hover {
    background-color: #F7F5D2;
    color: #3A3A45;
    font-size: 4.2rem; /* Slightly increase font size on hover */
}

