.socialMedias{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #557C52;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    width: 3rem;
    gap: 1rem;
    position: fixed;
    top: 40%;
    left: 0px;
    z-index: 9999;
}

.iconSocial{
    color: #151540;
    font-size: 2rem; 
}

.iconSocial:hover{
    color: #525295;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}